# note that section headers begin with %, and sections can be:
# 1) SETTINGS (device settings)
# 2) TAGS (tag settings)

%SETTINGS
fs=0
dev='rx8'
interface='usb'
circuit_file='my_circuit.rcx'
save_dir='tdt_data'
gui_height=700
gui_width=850
gui_row_height=50
gui_rows_per_column=6
gui_row_spacing=.01
buffer_overhang=true
buffer_warning=3000
